@CHARSET "UTF-8";
/*
*通用的一个css
*/

.common_headfont{
	font-weight: bold;
	font-size: 15px;
	border-left:solid 5px #dd4030;
	padding: 0px 0px 0px 10px;
	color: #000;
	margin-bottom: 5px;
}
.common_headfont_big{
	font-weight: bold;
	font-size: 22px;
	border-bottom:solid 1px #ccc;
	padding: 10px;
	color: black;
}
.common_morefont{
	margin-top:5px;
	font-weight: bold;
	text-align: center;
	color: blue;
	font-size: 15px;
}
.common_hintfont{
	margin-top:5px;
	font-weight: bold;
	text-align: center;
	color: gray;
	font-size: 15px;
}