<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>gltraffic</display-name>
  <filter>
  
    <filter-name>struts2</filter-name>
    <filter-class>com.can.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>registervalidation</servlet-name>
    <servlet-class>com.can.servlet.registervalidation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Eggservlet</servlet-name>
    <servlet-class>com.can.servlet.Eggservlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>registervalidation</servlet-name>
    <url-pattern>/servlet/registervalidation.servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Eggservlet</servlet-name>
    <url-pattern>/servlet/Eggservlet</url-pattern>
  </servlet-mapping>
    <welcome-file-list>
        <welcome-file>redirecting.jsp</welcome-file>
    </welcome-file-list>
</web-app>